
# Entorno virtual de Python
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivo de variables de entorno
.env

# IDEs y Editores
.vscode/
.idea/

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Caché de Pruebas
.pytest_cache/
.coverage

# Archivos de Build y Distribución
build/
dist/
*.egg-info/

# Archivos de Log
*.log

# Archivos temporales
*.tmp
*.temp

# database
*.db