{% import "macros/icons.html" as icons %}

<header class="dashboard-header">
  <div class="top-bar">
    <div class="header-info">
      <h2 class="header-title">{{ title | default("Automata") }}</h2>

      <p class="header-subtitle">
        {{ description | default("Flows to automate your work") }}
      </p>
    </div>
  </div>

  <section class="user-section">
    <div class="user-info">
      {% if request.path != '/' %}
      <a href="/" class="btn btn--icon" aria-label="Back to menu">
        {{ icons.ChevronLeftIcon(16) }}
      </a>
      {% endif %}

      <button id="user-menu-btn" class="user-profile-btn btn--icon" aria-label="Profile" aria-haspopup="true"
        aria-expanded="false">
        {{ icons.UserIcon(16) }}
      </button>

      <button id="theme-toggle-btn" class="btn btn--icon" type="button" aria-label="Change theme">
        <span class="theme-icon theme-icon--sun">
          {{ icons.SunIcon(16) }}
        </span>
        <span class="theme-icon theme-icon--moon">
          {{ icons.MoonIcon(16) }}
        </span>
      </button>

      <div id="user-menu" class="user-menu">
        <div class="user-menu-header">
          <span class="user-menu-name">
            {% if is_authenticated and current_user %}
            {{ current_user.full_name }}
            {% else %}
            Guest
            {% endif %}
          </span>
        </div>
        <ul class="user-menu-list">
          <!-- <li>
            <a href="/" class="user-menu-item">Back to menu</a>
          </li>
          <li>
            <button id="theme-toggle-btn-menu" class="user-menu-item" type="button">
              <span id="theme-toggle-text">Change theme</span>
            </button>
          </li> -->
          {% if is_authenticated %}
          <li>
            <a href="/profile" class="user-menu-item">Account</a>
          </li>
          {% if current_user.role == 'admin' %}
          <li>
            <a href="/admin/users" class="user-menu-item">Manage Users</a>
          </li>
          {% endif %}
          <li>
            <a href="/logout" class="user-menu-item">Sign out</a>
          </li>
          {% else %}
          <li>
            <a href="/login" class="user-menu-item">Sign in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </section>
</header>

<script>
  (() => {
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.classList.add("dark");
    }
  })();

  document.addEventListener("DOMContentLoaded", () => {
    const themeToggleBtn = document.getElementById("theme-toggle-btn");
    const themeToggleBtnMenu = document.getElementById("theme-toggle-btn-menu");
    const htmlEl = document.documentElement;

    function updateButtonState() {
      if (htmlEl.classList.contains("dark")) {
        themeToggleBtn.setAttribute("aria-label", "Light Mode");
        if (themeToggleBtnMenu) {
          document.getElementById("theme-toggle-text").textContent = "Light Mode";
        }
      } else {
        themeToggleBtn.setAttribute("aria-label", "Dark Mode");
        if (themeToggleBtnMenu) {
          document.getElementById("theme-toggle-text").textContent = "Dark Mode";
        }
      }
    }

    function toggleTheme() {
      htmlEl.classList.toggle("dark");

      if (htmlEl.classList.contains("dark")) {
        localStorage.setItem("theme", "dark");
      } else {
        localStorage.setItem("theme", "light");
      }

      updateButtonState();
    }

    updateButtonState();

    if (themeToggleBtn) {
      themeToggleBtn.addEventListener("click", toggleTheme);
    }

    if (themeToggleBtnMenu) {
      themeToggleBtnMenu.addEventListener("click", toggleTheme);
    }
  });
</script>